
/* COLOR

Color Theme Swatches in Hex 
color: #D91A83; - rose
color: #73206D; - purple
color: #351C59; - dark violet
color: #3DADD9; - light blue
color: #F6A448; - mustard yellow
color: #3AAA35; - green

Color Theme Swatches in RGBA
color: rgba(217, 26, 131, 1); - rose
color: rgba(115, 32, 109, 1); - purple
color: rgba(53, 28, 89, 1); } - dark violet
color: rgba(61, 173, 217, 1); - light blue
color: rgba(246, 164, 72, 1); - mustard yellow
*/

/* FONT

font-family: 'Jura', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*Icons at exhibion.html made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
*/


/* ------------------------------------------------------------ GENERAL STYLES ----------------------------------------------------------------- */
html {
    background-color: #E1E1E1;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
}

h1 {
    font-family: 'Jura', 'Tahoma', sans-serif;
    font-size: 2.75em;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -0.03em;
}

h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

h3, h4 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

a {
    font-family: 'Jura', 'Tahoma', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: #3DADD9;
    color: #FFFFFF;
    padding: 10px 28px;
    border-radius: 6px;
    text-align: center;
    box-shadow:  1px 1px 6px 1px  rgba(53, 28, 89, 0.2);
    margin: 10px 0px;
}

.button:hover {
    background-color: rgba(61, 173, 217, 0.7);
    transition: 0.2s;
}

.button:active {
    background-color: rgba(61, 173, 217, 1);
    font-size: 1.8em;
}

.back-to-top {
    color: #000000;
    background-color: #FFFFFF;
    padding: 25px 0px;
    text-align: center;
    margin: 0;

}

.back-to-top a {
    color: #000000;
}

.back-to-top a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.back-to-top a:active {
    font-size: 1.8em;
    color: #F6A448;
}

/* ------------------------------------------------------------ HEADER ----------------------------------------------------------------- */

header {
    background-color: #351C59;
    padding: 10px 20px;
    position: relative;
}

header img {
    width: 90px;
}

.logo img:hover {
    opacity: 0.8;
}
.logo img:active {
    opacity: 1;
}


/* -------------------------------- Hamburger menu -------------------------------- */

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.navigation {
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    line-height: 2em;
    float: right;
    background-color: rgba(53, 28, 89, 1);
    padding: 20px;
    margin: 0;
    box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 20px;
    top: 75px;
    z-index: 2;
    border-radius: 0 0 6px 6px;
}

nav a {
    color:#FFFFFF;
}

nav a:hover {
    text-decoration: underline;
    transition: 0.1s;
}

nav a:active {
    color: #F6A448;
    font-size: 1.6em;
}

#active {
    color: #F6A448;
}

.navigation i:hover {
    color: #F6A448;
    cursor: pointer;
    transition: 0.1s;
}

.navigation i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: #FFFFFF;
}


/* ------------------------------------------------------------ FOOTER ----------------------------------------------------------------- */

footer {
    background-color: #351C59;
    color: #FFFFFF;
}
.footer-wrapper {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer-wrapper-column {
    margin: 0 10px;
    min-width: 200px;
    padding: 10px;
}

.footer__copy {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(256, 256, 256, 0.5);
}

.column-location img {
    max-width: 150px;
    margin: 24px 0;
}

.column-hours tr {
    text-align: left;
}

.column-hours td {
    text-align: right;
}

.column-hours td {
    padding: 0 0 0 15px;
}

.column-contact a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-email {
    font-weight: 400;
}

.column-contact a:hover {
    text-decoration: underline;
    transition: 0.1s;
}

.column-contact a:active {
    color: #F6A448;
    font-size: 1.3em;
}

.column-contact a i {
    padding-right: 15px;
}

.column-contact a i:hover {
    color: #F6A448;
    transition: 0.1s;
}

.column-contact a i:active {
    font-size: 1.3em;
}

.column-navigation a {
    display: block;
    color: #FFFFFF;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1em;
}

.column-navigation a:hover {
    text-decoration: underline;
    transition: 0.1s;
}

.column-navigation a:active {
    color: #F6A448;
    font-size: 1.3em;
}

/* -------------------------------- Intro -------------------------------- */
.main-intro {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 770px;
    width: 100%;
    background-size: cover;
}

.main-intro-text {
    background-color: rgba(115, 32, 109, 0.9);
    margin: 0 5%;
    padding: 15px;
    max-width: 360px;
    height: 410px;
    box-shadow: 2px 5px 25px 0 rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: #FFFFFF;
    position: relative;
    top: 40px;
    z-index: 1;
    position: relative;
}

.main-intro-text p {
    line-height: 140%;
}

.main-intro-text h2 {
    margin-top: 40px;
}

.main-intro-text span {
    display: block;
    max-width: 200px;
    margin-top: 30px;
}

.main-intro-text a {
    position: absolute;
    bottom: 3%;
}

.home_main-intro {
    background-image: url("../images/home/home-main-milky-way-greg-rakozy-m.jpg");
}

.visit_main-intro {
    background-image: url("../images/visit/visit-main-scott-webb-m.jpg");
}

.exhibitions_main-intro {
    background-image: url("../images/exhibitions/exhibitions-main-michal-parzuchowski-m.jpg");
}

.events_main-intro {
    background-image: url("../images/events/events-main-rodolfo-cuadros-m.jpg");
}

.get-involved_main-intro {
    background-image: url("../images/get-involved/get-involved-main-grant-ritchie-m.jpg");
}

.contact_main-intro {
    background-image: url("../images/contact/contact-main-william-bout-m.jpg");
}

/* -------------------------------------------------------------------- HOME PAGE 
---------------------------------------------------------------------------------------------------------------------------------------------------- */

.home_main-exhibition-spaces {
    background-color: #351C59;
    color: #FFFFFF;
}

.home_main-exhibitions-text {
    background-color: #F6A448;
    color: #000000;
    padding: 10px 20px;
    margin: 40px 10%;
    border-radius: 6px;
    display: none;
}

.home_main-exhibitions-text p {
    font-style: italic;
    line-height: 1.5em;
}

 /*----------UPCOMING EVENTS----------*/

.home_main-upcoming-events, .home_main-exhibition-spaces {
    text-align: center;
    padding: 40px 20px;
}
.home_main-upcoming-events h2 {
    color: #351C59;
    font-weight: 700;
}

.home_main-upcoming-events a, .home_main-exhibition-spaces a {
    margin: 20px;
}

.home_main-event-container {
    display: flex;
    text-align: left;
    justify-content: space-around;
    flex-direction: column;
}

.home_main-event-content {
    background-color: #E1E1E1;
    max-width: 280px;
    padding: 25px 20px 20px 20px;
    border-radius: 0 0 6px 6px;
}
    
.home_main-event {
    margin: 20px;
}

.home_main-event img, .home_main-exhibitions img {
    width: 100%;
}

.big-img {
    display: none;
}

 /*----------EXHIBITIONS----------*/

.home_main-exhibitions-container {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    flex-direction: column;
}

.home_main-exhibitions-content {
    background-color: #FFFFFF;
    color: #000000;
    max-width: 280px;
    padding: 20px;
    border-radius: 0 0 6px 6px;
}

.home_main-exhibitions {
    margin: 20px;
}

/*----------YOUNG STARS CLUB----------*/

.home_main-young-stars-club {
    background-image: url(../images/home/home-children-science-lab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
    opacity: 0.6;
    background-size: cover;
    width: 100%;
}

.home_main-young-stars-club-text {
    color: #FFFFFF;
    font-size: 1.125em;
    background-color:  rgba(115, 32, 109, 0.9);
    text-align: center;
    padding: 20px 40px;
    position: relative;
    top: 15%;
    margin: 0 5%;
    border-radius: 6px;
}

.home_main-young-stars-club-text h2 {
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 10px 0;
}
.home_main-young-stars-club-text p {
    margin: 10px 0;
}




/* -------------------------------------------------------------------- VISIT 
---------------------------------------------------------------------------------------------------------------------------------------------------- */

.visit_hours {
    padding: 5% 5%;
}

.visit_location, .visit_food, .visit_shop {
    background-color: #351C59;
    color: #FFFFFF;
    padding: 5% 5%;
}

.visit_admission {
    background-color: #E1E1E1;
    text-align: center;
    padding: 20px 5%;
}

.visit_accessibility {
    text-align: center;
    padding: 20px 5%;
}

.visit_shools {
    background-color: #F6A448;
    padding: 20px 5%;
    text-align: center;
}

.visit_shools p {
    font-style: italic;
    line-height: 1.5em;
}

.visit_shools h2 {
    text-align: center;
}

.visit_hours h2, .visit_admission h2, .visit_accessibility h2 {
    color: #351C59;
    font-weight: 700;
}

.visit_hours-location-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.visit_hours tr {
    text-align: left;
}

.visit_hours td {
    text-align: right;
}

.visit_hours td {
    padding: 0 0 0 15px;
}


/* -------------------------------------------------------------------- EXHIBITIONS 
---------------------------------------------------------------------------------------------------------------------------------------------------- */

.exibitions-describtion {
    background-color: #F6A448;
    padding: 20px 5%;
}
.exibitions-describtion p {
    font-weight: 500;
    line-height: 1.5em;
    font-style: italic;
}


.exhibition_links-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    outline-color: #000000;
}
.exhibition_links-icon1 {
    background-color: #3DADD9;
}
.exhibition_links-icon2 {
    background-color: #F6A448;
}
.exhibition_links-icon3 {
    background-color: #351C59;
}
.exhibition_links-icon4 {
    background-color: #3AAA35;
}
.exhibition_links-icon5 {
    background-color: #D91A83;
}
.exhibitions_links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 5%;
    flex-direction: column;
    flex-wrap: wrap;
}
.exhibition_links-icon {
    margin: 0 20px;
}
.exhibition_links-icon a {
    color: #000000;
}
.exhibition_links-icon img:hover {
    width: 105px;
    height: 105px;
    opacity: 0.8;
    transition: 0.1s;
}
.exhibition_links-icon img:active {
    opacity: 1;
}

.exhibitions_cosmology, .exhibitions_robotics, .exhibitions_biology-medicine, .exhibitions_evolution, .exhibitions_ecology {
    padding: 5%;
}

.exhibitions_cosmology, .exhibitions_robotics, .exhibitions_biology-medicine {
    background-color: #351C59;
    color: #FFFFFF;
}

.exhibitions_cosmology img, .exhibitions_robotics img, .exhibitions_biology-medicine img,.exhibitions_evolution img, .exhibitions_ecology img {
    width: 100%;
}


/* -------------------------------------------------------------------- EVENTS
---------------------------------------------------------------------------------------------------------------------------------------------------- */

.events_night {
    background-color: #351C59;
    color: #FFFFFF;
}

.events_subscribe {
    background-color: #F6A448;  
}

/* -------------------------------------------------------------------- GET INVOLVED
---------------------------------------------------------------------------------------------------------------------------------------------------- */

.get-involved_support, .get-involved_researchers {
    background-color: #351C59;
    color: #FFFFFF;
}

.get-involved_contact {
    background-color: #F6A448;
    text-align: center;
}

/* -------------------------------------------------------------------- CONTACT
---------------------------------------------------------------------------------------------------------------------------------------------------- */


.contact_information {
    background-color: #351C59;
    color: #FFFFFF;
}








/* -------------------------------------------------------------------- MEDIA QUERIES 
---------------------------------------------------------------------------------------------------------------------------------------------------- */

@media all and (min-width: 600px) {

     /*----------HEADER----------*/

    header img {
        width: 100px;
    }
    
    /*----------INTRO----------*/
    
    .main-intro {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 770px;
        width: 100%;
    }  
    .home_main-intro {
        background-image: url("../images/home/home-main-milky-way-greg-rakozy.jpg");
    }
    .visit_main-intro {
        background-image: url("../images/visit/visit-main-scott-webb.jpg");
    }
    .exhibitions_main-intro {
        background-image: url("../images/exhibitions/exhibitions-main-michal-parzuchowski.jpg");
    }
    .events_main-intro {
        background-image: url("../images/events/events-main-rodolfo-cuadros.jpg");
    }
    .get-involved_main-intro {
        background-image: url("../images/get-involved/get-involved-main-grant-ritchie.jpg");
    }
    .contact_main-intro {
        background-image: url("../images/contact/contact-main-william-bout.jpg");
    }

    .main-intro-text h2 {
        margin-top: 30px;
    }

    .main-intro-text {
        min-height: 450px;
    }

    /*----------FONT SIZE----------*/

    
    
    h1 {
        font-size: 3.5em;
        letter-spacing: -0.04em;
    }
    
    h2 {
        font-size: 2.25em;
    }
    
    h3, h4 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.125em;
    }



     /*----------HOME----------*/
   

    .home_main-event-container, .home_main-exhibitions-container {
        flex-direction: row;
    }

    .small-img {
        display: none;
    }

    .big-img {
        display: inline;
    }

    .home_main-event-content {
        max-width: 455px;
    }

    .home_main-exhibitions-text {
        display: inline-block;
    }

    .home_main-young-stars-club-text {
        top: 20%;
        margin: 0 10%;
    }

    .home_main-exhibitions-content {
        max-width: 380px;
    }
/*----------VISIT----------*/

    .visit_hours-location-container {
        flex-direction: row;
    }

    .visit_food img, .visit_shop img {
        float: left;
        margin: 5%;
    }

    .visit_food , .visit_shop {
        display: inline-block;
    }

    .visit_accessibility, .visit_shools {
        clear: both;
    }

    .visit_hours tr {
        font-size: 1.125em;
    }

/*----------EXHIBITIONS----------*/

    .exhibitions_links {
        flex-direction: row;
    }

    .exhibition_links-icon h2 {
        font-size: 2.5em;
    }

    .exhibitions_cosmology img, .exhibitions_robotics img, .exhibitions_biology-medicine img {
        float: left;
        margin: 0 5% 10px 0;
    }

    .exhibitions_evolution img, .exhibitions_ecology img {
        float: right;
        margin: 0 0 10px 5%;
    }

    .exhibitions_cosmology, .exhibitions_robotics, .exhibitions_biology-medicine, .exhibitions_evolution, .exhibitions_ecology {
        display: inline-block;
    }

    .exhibitions_cosmology img, .exhibitions_robotics img, .exhibitions_biology-medicine img,.exhibitions_evolution img, .exhibitions_ecology img {
        width: 495px;
    }

    .exhibitions_cosmology h2, .exhibitions_robotics h2, .exhibitions_biology-medicine h2,.exhibitions_evolution h2, .exhibitions_ecology h2 {
        margin-top: 0;
    }

    
}

@media all and (min-width: 992px) {

    header img {
        width: 110px;
    }

    .home_main-event-container {
        justify-content: center;
    }

    .home_main-event {
        margin: 60px;
    }

    h2 {
        font-size: 3.5em;
    }
    
    h3, h4 {
        font-size: 2.25em;
    }
    
    p {
        font-size: 1.5em;
    }

    .main-intro-text p {
        font-size: 1.125em;
    }
    
    .main-intro-text h2 {
        font-size: 2.25em;
    }

    .visit_hours tr {
        font-size: 1.5em;
    }

}



@media all and (min-width: 1690px) {

    header img {
        width: 120px;
    }

    .home_main-intro {
        background-image: url("../images/home/home-main-milky-way-greg-rakozy-big.jpg");
    }

}








