
/* COLOR

 Color Theme Swatches in Hex 
.color-theme_science-01_4x-1-hex { color: #D91A83; } - rose
.color-theme_science-01_4x-2-hex { color: #73206D; } - purple
.color-theme_science-01_4x-3-hex { color: #351C59; } - dark violet
.color-theme_science-01_4x-4-hex { color: #3DADD9; } - light blue
.color-theme_science-01_4x-5-hex { color: #F6A448; } - mustard yellow

Color Theme Swatches in RGBA
.color-theme_science-01_4x-1-rgba { color: rgba(217, 26, 131, 1); } - rose
.color-theme_science-01_4x-2-rgba { color: rgba(115, 32, 109, 1); } - purple
.color-theme_science-01_4x-3-rgba { color: rgba(53, 28, 89, 1); } - dark violet
.color-theme_science-01_4x-4-rgba { color: rgba(61, 173, 217, 1); } - light blue
.color-theme_science-01_4x-5-rgba { color: rgba(246, 164, 72, 1); } - mustard yellow
*/

/* FONT

font-family: 'Jura', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*Icons at exhibion.html made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
*/


/* ------------------------------------------------------------ GENERAL STYLES ----------------------------------------------------------------- */
html {
    background-color: #E1E1E1;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
}

h1 {
    font-family: 'Jura', 'Tahoma', sans-serif;
    font-size: 3.375em;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

h3, h4 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

a {
    font-family: 'Jura', 'Tahoma', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

.button {
    background-color: #3DADD9;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 6px;
    text-align: center;
    box-shadow:  1px 1px 6px 1px  rgba(53, 28, 89, 0.2);
    
}

.button:hover {
    background-color: rgba(61, 173, 217, 0.7);
}

.button:active {
    background-color: rgba(61, 173, 217, 1);
    font-size: 1.3em;
}

.back-to-top {
    color: #000000;
    background-color: #FFFFFF;
    padding: 25px 0px;
    text-align: center;
    margin: 0;

}

.back-to-top a {
    color: #000000;
}

.back-to-top a:hover {
    text-decoration: underline;
}

.back-to-top a:active {
    font-size: 1.3em;
    color: #F6A448;
}

/* ------------------------------------------------------------ HEADER ----------------------------------------------------------------- */

header {
    background-color: #351C59;
    padding: 10px 20px;
    position: relative;
}

header img {
    width: 90px;
}

/* -------------------------------- Hamburger menu -------------------------------- */

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.navigation {
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    line-height: 1.5 em;
    float: right;
    background-color: rgba(53, 28, 89, 0.9);
    padding: 20px;
    margin: 0;
    box-shadow: 2px 5px 25px 0 rgba(0, 0, 0, 0.5);
}

nav a {
    color:#FFFFFF;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: #F6A448;
}

#active {
    color: #F6A448;
}

.navigation i:hover {
    color: #F6A448;
    cursor: pointer;
}

.navigation i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: #FFFFFF;
}


/* ------------------------------------------------------------ FOOTER ----------------------------------------------------------------- */

footer {
    background-color: #351C59;
    color: #FFFFFF;
}
.footer-wrapper {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
   align-content: space-between;
}

.footer-wrapper-column {
    margin: 0 10px;
    min-width: 200px;
    padding: 10px;
}

.footer__copy {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(256, 256, 256, 0.5);
}

.column-location img {
    max-width: 150px;
    margin: 24px 0;
}

.column-hours tr {
    text-align: left;
}

.column-hours td {
    text-align: right;
}

.column-hours td {
    padding: 0 0 0 15px;
}

.column-contact a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-email {
    font-weight: 400;
}

.column-contact a:hover {
    text-decoration: underline;
}

.column-contact a:active {
    color: #F6A448;
    font-size: 1.3em;
}

.column-contact a i {
    padding-right: 15px;
}

.column-contact a i:hover {
    color: #F6A448;
}

.column-contact a i:active {
    font-size: 1.3em;
}

.column-navigation a {
    display: block;
    color: #FFFFFF;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1em;
}

.column-navigation a:hover {
    text-decoration: underline;
}

.column-navigation a:active {
    color: #F6A448;
    font-size: 1.3em;
}




















.exhibition_links-icon img {
    background-color: #3DADD9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    outline-color: #000000;
   
    

}